<div class="heading">
  <h3>投稿確認</h3>
</div>
<div class="confirm-form">
  <%= form_with(model: @feed, local: true) do |f| %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :description %>
    <div class="confirm-image">
      <%= image_tag @feed.image.url if @feed.image && @feed.image.url %>
    </div>
    <div class="confirm-comment">
      <%= @feed.description %>
    </div>
    <div class="confirm-link">
      <%= f.submit "投稿", class: "post-button" %>
      <%= f.submit "戻る", name: "back", class: "btn btn-link" %>
    </div> 
  <% end %>
</div>