<!DOCTYPE html>
<html>
  <head>
    <title>PictureApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand">
        FacebookClone
      </div>
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "アカウント", user_path(current_user.id), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログアウト", logout_path(current_user.id), method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "サインアップ", new_user_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-success">
          <%= flash.notice %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
